# General
.idea/
*.iml
.DS_Store
.irb-history
*.pyc

# Android

# iOS
ios-deploy

# capy test files
capy_conf.yaml
capy_private.yaml
.capy/
builds/
reports/
test_servers/

# distribution
dist
build
capy.egg-info